<div *ngIf="members.length > 0">
  <mat-card *ngFor="let member of members">
    <mat-card-header>
      <div mat-card-avatar class="member-profile-image">
      </div>
      <mat-card-title>{{ member.firstName }} {{ member.lastName }}</mat-card-title>
      <mat-card-subtitle><b>Age:</b> {{ member.age }} | <b>Gender:</b> {{ member.gender }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ member.bio }}</p>
    </mat-card-content>
    <mat-action-row>
      <button mat-flat-button color="primary" [routerLink]="['/edit-member', member._id]" routerLinkActive="router-link-active" >EDIT</button>
      <button mat-flat-button color="warn" (click)="onDeleteMember(member._id)">DELETE</button>
    </mat-action-row>
  </mat-card>
</div>
<p class="mat-body-1 info-text" *ngIf="members.length <= 0">You don't have a member profile created yet!!!</p>
