mat-card {
  width: 65%;
  margin: 1.5rem auto;
}

mat-card-avatar {
  max-width: 50px;
}

button {
  margin-right: 1rem;
}

.trainer-profile-image {
  border-radius: 50%;
  background-color: grey;
  background-size: cover;
}

.trainer-age {
  float: right;
}

.info-text {
  text-align: center;
}
